body {
  font-family: 'Segoe UI', sans-serif;
  margin:0;
  padding:0;
  background: #f3f9f4;
  color: #333;
}

header, footer {
  background-color:#c27a79;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1em;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  background-color:#75aaf4;
  
}

section {
  width: 45%;
  margin-top: 20px;
  background:rgb(236, 227, 227);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.player-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.player-info {
  display: flex;
  align-items: center;
  gap: 10px;
 
}


#player-list div {
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius:2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#player-list div:hover{
  background-color:#89b4eb;
  transition-property: all;
  font-size:x-large;
}

button {
  background: #d96500;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #7ee827;
  transition-property:all;
  font-size: medium;
  
  
}


